body {
  background-color: rgb(0, 63, 63);
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(8, 0, 77);
  border-radius: 25px;
  height: 50px;
}
li {
  float: left;
  margin-left: 30px;
}
li a {
  display: block;
  color: white;
  padding: 22px;
  text-decoration: none;
}
li a:hover {
  background-color: rgba(0, 9, 128, 0.651);
  border-radius: 25px;
}
.logout-button {
  float: right;
  margin-top: 10px;
  margin-right: 80px;
}
.standard-button {
  border-radius: 25px;
  background-color: rgb(8, 0, 77);
  color: white;
  height: 30px;
  width: 100px;
  border: 2px solid white;
}
.standard-button:hover {
  background-color: rgba(0, 14, 212, 0.651);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.standard-button:active {
  background-color: rgb(8, 0, 77);
}
.negative {
  border-radius: 25px;
  color: white;
  background-color: red;
  height: 30px;
  width: 100px;
  border: 2px solid white;
  margin-left: 10px;
}
.negative:hover {
  background-color: rgb(116, 0, 0);
  cursor: pointer;
  transition: all .4s ease-in-out;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.negative:active {
  background-color: red;
}
form {
  display: inline-flexbox;
  position: relative;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
}
.form-div {
  padding: 5px;
  text-align: center;
}
.cars {
  padding: 5px;
  text-align: center;
}
.orders {
    padding: 5px;
    text-align: center;
}
#columns {
    color: white;
    text-decoration: underline;
    margin-left: 4px;
    text-align: center;
}
input[type="date"] {
    width: 160px;
    background-color: rgb(8, 0, 77);
    color: white;
}
#carSelect {
    width: 130px;
    height: 20px;
    background-color: rgb(8, 0, 77);
    color: white;
}
#carSelect:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-color: rgba(0, 14, 212, 0.651);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
input[type="date"]:hover {
    background-color: rgba(0, 14, 212, 0.651);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#table {
    margin-left: 5px;
}
label {
  padding: 2px;
}
.textfields {
  color: white;
  text-align: center;
}
.button {
  padding: 5px;
}
.submit {
  border-radius: 25px;
  color: white;
  background-color: rgb(0, 160, 0);
  height: 30px;
  width: 100px;
  border: 2px solid white;
  margin-left: 5px;
  margin-bottom: 5px;
}
.submit:hover {
  background-color: rgb(0, 109, 0);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.submit:active {
  background-color: rgb(0, 202, 0);
}